html {
  background-color: black;
  height: 115.9vw;
  background-image: url(../images/backg6.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.first-screen {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1vw 1.25vw 2.85vw 1.25vw;
  box-sizing: border-box;
  overflow: hidden;
}

.box-first-screen {
  width: 78.26vw;
}
.logo-1 {
  position: relative;
  width: 15.6vw;
  height: 50vw;
}
.logo-1 > svg {
  position: absolute;
  width: 15.6vw;
  height: 55vw;
  left: 0.2vw;
}
.arrows-1-box {
  display: flex;
  align-items: center;
}
.line-1 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-1;
}
.line-2 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-2;
}
.line-3 {
  width: 7vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-3;
}
.arrows-1-box {
  display: flex;
  width: 75.69vw;

  justify-content: space-between;
}
.img-arrow {
  width: 0.8vw;
  height: 1vw;
}
.dash {
  position: relative;
  display: flex;
}
.dash > img {
  width: 17vw;
  height: 0.3vw;
}
.arrow-number-1 {
  position: relative;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
}
.arrow-number-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff00e5; /* Цвет для окрашивания при наведении */
  mix-blend-mode: difference; /* Режим смешивания цветов */
  opacity: 0;
  /* transition: opacity 0.3s; */
}
.arrow-number-2 {
  display: flex;
  align-items: center;
}
.arrow-number-3 {
  display: flex;
  align-items: center;
}
.arrows-box {
  display: flex;
  position: relative;
  width: 57.16vw;
  justify-content: space-between;
}

img > .arrow-number-1 {
  position: relative;
  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-2 {
  position: relative;

  width: 0.8vw;
  height: 1vw;
}
img > .arrow-number-3 {
  position: relative;

  width: 0.8vw;
  height: 1vw;
}
.header-text {
  font-family: "Joystix";
  color: white;
  font-size: 4.17vw;
  text-align: right;
  width: 76vw;
}
.arrows-2-box {
  position: relative;
  width: 75.69vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows-2-box > img {
  width: 0.8vw;
  height: 1vw;
}
.line-4 {
  width: 75.69vw;
  height: 0.11vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-4;
}

.masked {
  position: absolute;
  background-color: #ff00e5;
  width: 75.29vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-44;
}
.masked-1 {
  position: absolute;
  background-color: #ff00e5;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked-2 {
  position: absolute;
  background-color: #ff00e5;
  width: 25.46vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-2-2;
}
.masked-3 {
  position: absolute;
  background-color: #ff00e5;
  width: 18.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}
.welcome {
  width: 21vw;
  height: 11vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.welcome-content {
  width: 100%;
  height: 9.51vw;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.welcome-content > p {
  font-size: 1.2vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}
.name-text {
  font-family: "Joystix";
  font-size: 1.2vw;
  color: white;
  margin-bottom: 1vw;
}
.name-window {
  height: 7.5vw;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
.name {
  width: 21vw;
  height: 9vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.name-content {
  width: 2.458vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
#textInput {
  font-size: 1.2vw;
  display: flex;
  height: 2vw;
  outline: none;
  background-color: #ff00e5;
  width: 15.8vw;
  margin-right: 1vw;
  border: 0.07vw white solid;
  align-items: center;
  padding: 0.56vw;
  justify-content: flex-end;
  color: white;
  font-family: "Joystix";
  cursor: pointer;
}
#confirmButton {
  height: 2vw;
  width: 2vw;
  border: 0.07vw white solid;
  padding: 0.56vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  cursor: pointer;
}
#confirmButton:hover {
  background-color: #ff00e5;
}
#confirmButton > img {
  width: 2vw;
  height: 1.4vw;
}
#outputText {
  color: white;
  font-family: "Joystix";
  font-size: 1.7vw;
}
.characteristics {
  width: 21vw;
  height: 11.5vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
}
.characteristics-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vw;
  padding: 1.5vw 1.1vw;
  box-sizing: border-box;
  justify-content: space-between;
}
.health > p {
  color: white;
  font-size: 1vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}
.power > p {
  color: white;
  font-size: 1vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}
.speed > p {
  color: white;
  font-size: 1vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}
.further {
  width: 21vw;
  height: 3.9vw;
  margin: 1.53vw 1.53vw 0 0;
  border: 0.07vw white solid;
  background-color: #ff00e5;
  cursor: pointer;
}

.further > p {
  font-size: 1vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}

.blue-top {
  display: flex;
  background-color: #ff00e5;
  width: 100%;
  height: 1.6vw;
  border-bottom: 0.07vw white solid;
  align-items: center;
  padding: 0.56vw;
  box-sizing: border-box;
  justify-content: flex-end;
}
.blue-top > img {
  height: 1vw;
  width: 3vw;
}
.dash-2 {
  position: relative;
  height: 0.3vw;
  margin: 1.53vw 1.53vw 0 0;
}
.dash-2 > img {
  position: absolute;

  width: 21vw;
  height: 1.3vw;
}
.masked-4 {
  position: absolute;
  background-color: #ff00e5;
  width: 21vw;
  height: 1.3vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.box-all-in {
  display: flex;
}
.window {
  height: 45vw;
  width: 58.16vw;
  display: flex;
  flex-direction: column;
  margin-top: 0.5vw;
}
.set {
  height: 41.2vw;
  background-image: url(../images/Vector2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.arrow-box-5 > img {
  width: 0.8vw;
  height: 1vw;
}
.line-5 {
  width: 23.3vw;
  height: 0.11vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-5;
}
.arrow-box-5 {
  margin-left: 12.4vw;
  margin-top: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masked5 {
  position: absolute;
  background-color: #ff00e5;
  width: 18.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-55;
}
.band {
  background-color: #ff00e5;
  width: 51.717vw;
  height: 3.123vw;
  margin-left: 3.1vw;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skelet-box {
  width: 58vw;
  height: 34.914vw;
  display: flex;
  justify-content: space-between;
}
#prevButton {
  background-color: white;
  border: 0;

  border-radius: 50%;
  height: 8.939vw;
  width: 4.688vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

#nextButton {
  background-color: white;
  border-radius: 50%;
  height: 8.939vw;
  width: 4.688vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: background-color 0.5s;
  cursor: pointer;
}
#prevButton > img {
  width: 2.778vw;
  height: 5.556vw;
  margin-left: 0.5vw;
}

#nextButton > img {
  width: 2.778vw;
  height: 5.556vw;
  margin-right: 0.5vw;
}
.r-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 6.181vw;
  height: 34.914vw;
}
.f-column {
  display: flex;
  align-items: center;
  width: 6.181vw;
  height: 34.914vw;
  justify-content: flex-end;
}
.m-column {
  width: 45.636vw;
  height: 34.914vw;
}
.m-column > img {
  width: 45.636vw;
  height: 34.914vw;
}

.arrow-number-4 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-5 {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-number-6 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrows-3-box {
  display: flex;
  justify-content: space-between;
  margin: 1.25vw 3.8vw 0 3.8vw;
}
.line-6 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-6;
}
.line-7 {
  width: 20vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-7;
}
.line-8 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-8;
}
.masked6 {
  position: absolute;
  background-color: #ff00e5;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked7 {
  position: absolute;
  background-color: #ff00e5;
  width: 21.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.masked8 {
  position: absolute;
  background-color: #ff00e5;
  width: 15.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-88;
}
.second-screen {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25vw 1.25vw 1.25vw;
  box-sizing: border-box;
}
.logo-2 > svg {
  width: 20.4vw;
  height: 52.0833vw;
  margin-left: -0.6vw;
}
.header-text2 {
  font-family: "Joystix";
  color: white;
  font-size: 4vw;
  width: 35vw;
  margin-left: 3.5vw;
}
.paint-window-box {
  width: 52.4vw;
  height: 47.57vw;
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;
}
.window-box {
  display: flex;
}
.left-box {
  background-image: url(../images/Frame\ 2709.svg);
  height: 43.61vw;
  width: 3.84vw;
  margin: 0.5vw 0 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-box {
  background-image: url(../images/Frame\ 2709.svg);
  height: 43.61vw;
  width: 3.84vw;
  margin-top: 0.5vw;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.paint-box {
  height: 39.47vw;
  width: 44.1vw;
}
.paint-skelet {
  height: 41.18vw;
  width: 44.03vw;
  position: relative;
  background-image: url(../images/Group\ 2707.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #413f53;
}

.absolut-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg1,
.svg2,
.svg3,
.svg4,
.svg5 {
  position: absolute;
}
.details-but {
  fill: grey;
}
.body-but {
  fill: black;
}
.paint-window {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.arrow-number-7 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-8 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-number-9 {
  position: relative;
  display: flex;
  align-items: center;
}
.arrows-5-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25vw;
  width: 52vw;
  padding: 0 1vw;
  box-sizing: border-box;
}

.line-10 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-10;
}
.line-11 {
  width: 20vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-11;
}
.line-12 {
  width: 11vw;
  height: 0.1vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-12;
}
.masked10 {
  position: absolute;
  background-color: #ff00e5;
  width: 12.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-101;
}

.masked11 {
  position: absolute;
  background-color: #ff00e5;
  width: 21.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-111;
}
.masked12 {
  position: absolute;
  background-color: #ff00e5;
  width: 12.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
  animation: 1s linear 0s normal none infinite running arrow-121;
}
.arrow-number-07 {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.7vw;
}
.masked07 {
  position: absolute;
  background-color: #ff00e5;
  width: 44.6vw;
  height: 1vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}
.line-07 {
  width: 25.07vw;
  height: 0.1vw;
  background-color: white;
  animation: 2s linear 0s normal none infinite running arrow-07;
}
.column-for-star-1 > svg {
  position: absolute;
  width: 1.7812vw;
  height: 1.7812vw;
}
.column-for-star-2 > svg {
  position: absolute;
  width: 1.7812vw;
  height: 1.7812vw;
}

.column-for-star-1 {
  height: 100%;
  width: 1.7812vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.column-for-star-2 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.star-1 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
}
.star-2 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 1s;
}
.star-3 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 2s;
}
.star-4 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
}
.star-5 {
  animation: 4s linear 0s normal none infinite running star-1;
  animation-play-state: running;
  animation-delay: 1s;
}
.paused {
  animation-play-state: paused;
}

.paint-menu {
  height: 49.22vw;
  padding-top: 8.9vw;
  box-sizing: border-box;
}
.menu-window {
  width: 18.33vw;
  height: 35vw;
  border: 0.07vw white solid;
}

#further2 {
  width: 18.33vw;
  height: 4.1vw;
  margin: 1.53vw 0 0 0;
  border: 0.07vw white solid;
  background-color: #ff00e5;
  cursor: pointer;
}

#further2 > p {
  font-size: 1vw;
  font-family: "Joystix";
  color: white;
  line-height: 1.2vw;
}
.dash-4 {
  position: relative;
  height: 0.3vw;
  margin: 1.53vw 0 0 0;
}
.dash-4 > img {
  position: absolute;

  width: 18.33vw;
  height: 0.3vw;
}
.masked-dash {
  position: absolute;
  background-color: #ff00e5;
  width: 18.33vw;
  height: 0.3vw;
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}

/* для окраски фона в джс */
.butterflies-and-stars-box,
.left-background-box,
.right-background-box,
.in-top-left,
.in-top-right {
  background-color: #ff00e5;
}
.paint-skelet > #svgContainer > svg {
  width: 43vw;
  height: 35vw;
}
.butterflies-and-stars-box > #svgContainer > svg {
  width: 60vw;
  height: 34vw;
}
.third-screen {
  padding: 0 1.25vw 1.25vw 1.25vw;
  height: 57.92vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.third-box {
  width: 90.07vw;
  height: 51.88vw;
  display: flex;
  flex-direction: column;
}
/* верхняя строка */
.up-of-window {
  display: flex;
  height: 2.569vw;
  justify-content: space-between;
}
.right-background-box,
.left-background-box {
  width: 38.257vw;
  height: 100%;
  border: 0.139vw solid white;
  border-bottom: 0;
}
.right-background-box {
  border-right: 0;
}
.left-background-box {
  border-left: 0;
}
.title-field {
  height: 2.564vw;
  width: 15.833vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outputDiv {
  height: 2.564vw;
  width: 15.833vw;
}

.hidden {
  height: 1.8vw;
  width: 15.833vw;
}

.outputText {
  color: white;
  font-family: "Joystix";
  font-size: 1.7vw;
}
/* бокс средней полосы */

.medium-of-window {
  height: 41.042vw;
  margin-top: -1px;
}
.butterflies-and-stars-box {
  border: 0.139vw solid white;
  border-bottom: 0;
  border-top: 0;
  height: 41.042vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* бокс нижней полосы */

.bottom-of-window {
  display: flex;
  justify-content: space-between;
  height: 8.472vw;
  margin-top: -0.139vw;
}
.bottom-left-column,
.bottom-right-column {
  display: flex;
  flex-direction: column;
  width: 29.444vw;
  height: 100%;
}

/* левая колонка */
/* верх */

.top-section-left,
.top-section-right {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top-section-left::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.139vw;
  width: 16.111vw;
  top: 2.986vw;
  background: white;
}
.in-top-left {
  height: 2.986vw;
  border-left: 0.139vw white solid;
}

/* стрелки   */

.arrow-last-1 {
  position: absolute;
  top: 2.5vw;
  right: 0;
  display: flex;
  align-items: center;
}
img > .arrow-last-1 {
  position: relative;
  width: 0.8vw;
  height: 1vw;
}
.line-last-1 {
  width: 12vw;
  height: 0.139vw;
  background-color: white;
  animation: 1s linear 0s normal none infinite running arrow-last-1;
}
.masked-last-1 {
  position: absolute;
  background-color: #ff00e5;
  /* width: 15.6vw;
  height: 1vw; */
  mix-blend-mode: multiply;
  opacity: 0%;
  top: 0;
}

/* низ сюда  */

/* средняя колонка */

.bottom-medium-column {
  width: 31.389vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black_top {
  height: 2.083vw;
  width: 100%;
}
.button {
  width: 26.389vw;
  height: 6.111vw;
  border: 0.139vw white solid;
  background-color: #ff00e5;
}

/* правая колонка */

.bottom-right-column {
  display: flex;
  flex-direction: column;
  width: 29.444vw;
  height: 100%;
}
.in-top-right {
  display: flex;
  flex-direction: column;
  width: 30.257vw;
  height: 100%;
}
.in-top-right {
  width: 29.25vw;
  height: 2.986vw;
  border-right: 0.139vw white solid;
  position: relative;
}
.in-top-right::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.139vw;
  width: 16.111vw;
  right: -0.1vw;
  top: 2.986vw;
  background: white;
}

/* стрелка */

.arrow-last-2 {
  position: absolute;
  top: 2.5vw;
  display: flex;
  align-items: center;
}
img > .arrow-last-2 {
  position: relative;
  width: 0.8vw;
  height: 1vw;
}
.left_box_in_2::after {
  content: "";
  display: block;
  height: 0.069vw;
  background: green;
}
.color {
  fill: white;
  opacity: 0;
}
/* #first-pattern {
        opacity: 0;
      } */
#pat-0,
#pat-1,
#pat-2,
#pat-3,
#pat-4,
#pat-5,
#pat-6,
#pat-7,
#pat-8,
#pat-9,
#pat-10,
#pat-11,
#pat-12,
#pat-13,
#pat-14,
#pat-15 {
  width: 3.125vw;
  height: 3.125vw;
  border: 0.07vw white solid;
  cursor: pointer;
}
.patterns-box-top,
.patterns-box-bot {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box-in-box-top1,
.box-in-box-top2,
.box-in-box-bot1,
.box-in-box-bot2 {
  display: flex;
  padding: 0.9vw 1vw;
  justify-content: space-between;
}
#pat-1 {
  background-image: url(../images/box-1.svg);
  background-size: contain;
}
#pat-2 {
  background-image: url(../images/box-2.svg);
  background-size: contain;
}
#pat-3 {
  background-image: url(../images/box-3.svg);
  background-size: contain;
}
#pat-4 {
  background-image: url(../images/box-4.svg);
  background-size: contain;
}
#pat-5 {
  background-image: url(../images/box-5.svg);
  background-size: contain;
}
#pat-6 {
  background-image: url(../images/box-6.svg);
  background-size: contain;
}
#pat-7 {
  background-image: url(../images/box-7.svg);
  background-size: contain;
}
#pat-8 {
  background-image: url(../images/box-8.svg);
  background-size: contain;
}
#pat-9 {
  background-image: url(../images/box-9.svg);
  background-size: contain;
}
#pat-10 {
  background-image: url(../images/box-10.svg);
  background-size: contain;
}
#pat-11 {
  background-image: url(../images/box-11.svg);
  background-size: contain;
}
#pat-12 {
  background-image: url(../images/box-12.svg);
  background-size: contain;
}
#pat-13 {
  background-image: url(../images/box-13.svg);
  background-size: contain;
}
#pat-14 {
  background-image: url(../images/box-14.svg);
  background-size: contain;
}
#pat-15 {
  background-image: url(../images/box-15.svg);
  background-size: contain;
}
.visible {
  opacity: 1;
}
.block-1,
.block-2,
.block-3 {
  background-color: #ff00e5;
  width: 10.4vw;
  height: 1.2vw;
  border: 0.1vw solid white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.health,
.power,
.speed {
  display: flex;

  justify-content: space-between;
}
.square {
  height: 0.8vw;
  width: 0.8vw;
  border: 0.01vw solid white;
  transition: background-color 0.5s;
  cursor: pointer;
}

.square.hover {
  background-color: #00ffe0;
}

.square.clicked {
  background-color: #00ffe0;
}
.bottom-section-right {
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hse,
.polina {
  font-size: 1.2vw;
  font-family: "Joystix";
  color: white;
}
.header1,
.header2 {
  font-size: 1.2vw;
  font-family: "Joystix";
  color: white;
  margin-bottom: 0.8vw;
  margin-left: 0.8vw;
  margin-top: 2.4vw;
}
div > input {
  width: 3.125vw;
  height: 3.125vw;
  border: 0.07vw white solid;
  cursor: pointer;

  appearance: auto;
  inline-size: 2.7vw;
  block-size: 2.5vw;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  border-width: 0.1vw;
  border-style: solid;
  border-color: buttonborder;
  border-image: initial;
  padding: -0;
}
.wings > p,
.view > p,
.detailss > p,
.backgr > p {
  font-size: 0.8vw;
  font-family: "Joystix";
  color: white;
  margin-right: 1vw;
}
.in-color-block {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  box-sizing: border-box;
}
.wings,
.view,
.detailss,
.backgr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailss,
.backgr {
  padding: 0.5vw 1vw 0.5vw 0;
}
.detailss {
  justify-content: flex-end;
}
.change1 {
  width: 3.125vw;
  height: 3.125vw;
}
